.root {
	background: var(--primary);
	min-height: calc(100vh - 70px);
	padding-top: 70px;
}

.container {
	padding: 40px;
}

.box {
	width: 100%;
	height: 400px;
	background: var(--accent);
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.content {
	padding: 20px;
	color: white;
}