<div class="nav">
    <input [(ngModel)]="isChecked"  type="checkbox" id="nav-check">
    <div class="nav-header">
        <div class="nav-title">
            <div class="nav-title-content">
                <img  src="/assets/icon/icon.png">
                <div>
                    <div>Malavan</div>

                    <div>Full Stack Developer</div>
                </div>
            </div>
        </div>
    </div>
    <div class="empty-spacing"></div>

    <div class="nav-btn">
        <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
        </label>
    </div>
    <div class="nav-links">

        <span (click)="navigateTo('intro')">HOME</span>
        <span (click)="navigateTo('about')">ABOUT</span>
        <span (click)="navigateTo('experience')">EXPERIENCE</span>

        <span (click)="navigateTo('skills')">SKILLS</span>
        <span (click)="navigateTo('projects')">PROJECT</span>
        <span (click)="navigateTo('contact')">CONTACT</span>
    </div>
    <div class="empty-spacing"></div>


</div>