<div class="card root">
    <div>
        <div class="font-24 bold">{{name}}</div>
        <div>{{domain}}</div>
    </div>
    <div>
        <div class="font-18">Role</div>
        <div class="role">{{role}}</div>

    </div>
    <div>
        <div>{{location}}</div>
        <div>{{period}}</div>
    </div>
    <div class="divider">

    </div>
    <div>
        <img _ngcontent-kcf-c50="" src="https://manojsatishkumar.com/images/favicon.png" style="
            width: 32px;
            border-radius: 50%;
        ">
        <div class="card description">{{description}}</div>
    </div>
</div>