.root {
	background: var(--primary);
	min-height: calc(100vh - 70px);
	padding-top: 70px;
}

.skills {
	padding: 0px 40px;
	display: grid;
	gap: 2rem;
	grid-template-columns: auto auto auto auto;
}
@media only screen and (max-width: 600px) {
	.skills {
		padding: 40px;
		display: grid;
		gap: 2rem;
		grid-template-columns: auto;
	}
  }