/* You can add global styles to this file, and also import other style files */
:root{
    --primary:#23263A;
    --secondary:#2B2D41;
    --accent:#E94251;
    --primary-text:white;
    --secondary-text:#969696;

}