/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

html,
body {
	height: 100%;
	font-family: "Poppins", sans-serif;
	margin: 0;
}

:root {
	--primary: #23263A;
	--secondary: #2B2D41;
	--accent: #E94251;
	--primary-text: white;
	--secondary-text: #969696;
}

.accent-button {
	padding: 10px;
	border: none;
	color: white;
	background: var(--accent);
	border-radius: 6px;
    font-weight: bold;
    outline: none
}

